.carousel-control-prev, .carousel-control-next,
.carousel-control-prev:hover, .carousel-control-next:hover,
.carousel-control-prev:focus, .carousel-control-next:focus {
  opacity: 0;
}
.focus-block {
  height: 100vh;
    max-height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.focus-block h1 {
  color: #fff;
  font-size: 28px;
}
.border-btn {
  border: 1px solid #fff;
  padding: 2px 6px;
  border-radius: 4px;
}
.title-block-hide {
  opacity: 0;
}
.show-block-hide {
  display: block;
}